@{

    Layout = null;

}

<div class="sidebar" id="main-sideBar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item" style="z-index:999">
                <select class="form-control" id="cboTest" style="z-index:999">

                    <option value="1">  @Html.Action("GetNombreEmpresa", "Home", new { Area = "" })</option>
                </select>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Registro", "Orden",null)">
                    <i class="nav-icon icon-speedometer"></i> Nueva Orden
                    <span class="badge badge-primary">+</span>
                </a>
            </li>
            <li class="nav-title">Procesos</li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Registro", "Venta",null)">
                    <i class="nav-icon icon-drop"></i> Venta
                </a>
            </li>

            <li class="nav-title">Reportes</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="">
                    <i class="nav-icon icon-puzzle"></i> Reportes
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "CL_Trabajador_Solicitud_Licencias",null)">
                            <i class="nav-icon icon-puzzle"></i> Clientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "CL_Trabajador_Solicitud_Licencias",null)">
                            <i class="nav-icon icon-puzzle"></i> Ventas
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-cursor"></i> Mantenimientos
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Clientes",null)">
                            <i class="nav-icon icon-cursor"></i> Clientes
                        </a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Articulos", null)">
                            <i class="nav-icon icon-cursor"></i> Artículos
                        </a>
                    </li>
                

                    <li class="nav-item">
                        <a class="nav-link" href="buttons/brand-buttons.html">
                            <i class="nav-icon icon-cursor"></i> Usuarios del sistema
                        </a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>