@{

    Layout = null;
  
}

<div class="sidebar" id="main-sideBar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item" style="z-index:999">
                <select class="form-control" id="cboTest" style="z-index:999">
        
                                <option value="1">Test</option>
                     
                </select>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Registro", "Orden",null)">
                    <i class="nav-icon icon-speedometer"></i> Nueva Orden
                    <span class="badge badge-primary">+</span>
                </a>
            </li>
            <li class="nav-title">Procesos</li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Registro", "Venta",null)">
                    <i class="nav-icon icon-drop"></i> Venta
                </a>
            </li>
 
            <li class="nav-title">Reportes</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="">
                    <i class="nav-icon icon-puzzle"></i> Reportes
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "CL_Trabajador_Solicitud_Licencias", new { Area = "RR_HH" },null)">
                            <i class="nav-icon icon-puzzle"></i> Clientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "CL_Trabajador_Solicitud_Licencias", new { Area = "RR_HH" },null)">
                            <i class="nav-icon icon-puzzle"></i> Ventas
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-cursor"></i> Mantenimientos
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "CL_Admin_Gestion_Licencias", new { Area = "RR_HH" }, null)">
                            <i class="nav-icon icon-cursor"></i> Clientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "CL_Admin_Gestion_Prestamo", new { Area = "RR_HH" }, null)">
                            <i class="nav-icon icon-cursor"></i> Mesas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "CL_Admin_Gestion_Vacaciones", new { Area = "RR_HH" }, null)">
                            <i class="nav-icon icon-cursor"></i> Artículos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="buttons/brand-buttons.html">
                            <i class="nav-icon icon-cursor"></i> Ejecutivos de venta
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="buttons/brand-buttons.html">
                            <i class="nav-icon icon-cursor"></i> Usuarios del sistema
                        </a>
                    </li>
                </ul>
            </li>          
            <li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
                    <i class="nav-icon icon-cloud-download"></i> Download CoreUI
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                    <i class="nav-icon icon-layers"></i> Try CoreUI
                    <strong>PRO</strong>
                </a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
