@model RMS_MODELOS.M_TB_CABE_DOCU_VENT
@{
    ViewBag.Title = "Registro de venta";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- ORDEN -->
<section class="" id="main_content">

    <link href="~/Content/ui-search/search.min.css" rel="stylesheet" />
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Orden </a>
        </li>
        <li class="breadcrumb-item active">@ViewBag.Title </li>
    </ol>
    <div class="container-fluid animated fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="registro_form_card">
                    @Html.Partial("_venta_form")
                </div>
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-edit"></i> Detalle
                    </div>
                    <div class="card-body pt-0 pl-3" style="min-height:100px">
                        <div class="row">
                            <div class="col-sm-12 p-1">
                                <table id="TB_DETA_DOCU_VENT" class="table table-striped table-bordered table-hover table-condensed ctable-with-buttons" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nro. Orden
                                            </th>
                                            <th>
                                                <div style="width:180px"></div>Artículo
                                            </th>
                                            <th>Precio</th>

                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="3" style="text-align:right">Total:</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_load" data-load="Venta"></div>

    <div id="_buscar_cliente_defecto" data-request-url="@Url.Action("Busqueda_cliente_defecto", "Busqueda")"></div>
    <div id="_busqueda_cliente_por_codigo" data-request-url="@Url.Action("Busqueda_cliente_por_codigo", "Busqueda")"></div>

    <div id="_busqueda_ordenes" data-request-url="@Url.Action("Busqueda_ordenes", "Busqueda")"></div>
    <div id="_detalle_data_loader" data-request-url="@Url.Action("listar_detalle_venta", "Venta",new { FN_IDE_DOCU = ViewBag.numero_orden,FI_COD_EMPR = 1 })"></div>
    <script src="~/Content/ui-search/search.min.js"></script>
</section>