@model IEnumerable<RMS_MODELOS.M_TB_MESA>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header" id="main_content">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a href="#">
                    Módulo de Gestión de restaurante
                </a>
            </li>
        </ol>
        <article class="animated fadeIn slow">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-3 pl-sm-2 pl-lg-5 card">
                        <h5 class="cdisplay-2-sm d-inline-flex align-items-center">
                            <span>
                                Gestión de mesas
                            </span>
                            <span class="ml-auto">
                                <a class="btn btn-outline-success _agregar_mesa ml-auto" href="#" role="button">
                                    Agregar mesa <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                            </span>
                        </h5>

                        <div class="row" id="lista_mesas">
                            @Html.Partial("_lista_mesas")
                        </div>
                        <div class="pb-5">
                            <a class="btn btn-outline-info smooth-link" href="@Url.Action("Registro", "Orden")" role="button">
                                Nuevo pedido <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="_load" data-load="Home"></div>
        <div id="_registrar_mesa" data-request-url="@Url.Action("registrar_mesa", "Mesa")"></div>
        <div id="_gestion_mesa" data-request-url="@Url.Action("gestion_mesa", "Mesa")"></div>
        <div id="_liberar_mesa" data-request-url="@Url.Action("liberar_mesa", "Mesa")"></div>
        <div id="_lista_mesas" data-request-url="@Url.Action("lista_mesas", "Mesa")"></div>
        <div id="_eliminar_mesa" data-request-url="@Url.Action("eliminar_mesa", "Mesa")"></div>
    </section>
</div>