@model RMS_MODELOS.M_TB_CABE_ORDE
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ORDEN -->
<section class="" id="main_content">

    <link href="~/Content/ui-search/search.min.css" rel="stylesheet" />
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Orden</a>
        </li>

        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
    <div class="container-fluid animated fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <div class="card">
                    <div class="card-header d-md-inline-flex justify-content-center align-items-center">
                        <i class="fa fa-edit"></i> Registro de Orden
                        <div class="col-5 ml-auto">
                            @Html.TextBox("FS_TIP_SITU", (string)ViewBag.FS_TIP_SITU != "" ? "ACTIVO" : (string)ViewBag.FS_TIP_SITU, new { @class = "form-control form-control-sm text-center", @id = "TXT_FS_TIP_SITU", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("registrar_orden", "Orden", FormMethod.Post, new { @id = "Frm_Orden_Registro", @class = "form-horizontal" }))
                        {
                            <div class="form-group row">
                                @Html.Label("", String.Format("Nro. de Orden"), new { @class = "col-lg-2 pr-0 col-form-label-sm " })
                                <div class="col-lg-3">
                                    @Html.TextBox("FN_IDE_ORDE", (string)ViewBag.FN_IDE_ORDE != "" ? "1" : (string)ViewBag.FN_IDE_ORDE, new { @class = "form-control form-control-sm", @id = "TXT_FN_IDE_ORDE", @disabled = "disabled" })
                                </div>

                                @Html.Label("", String.Format("Fecha"), new { @class = "col-lg-2 pr-0 col-form-label-sm" })
                                <div class="col-lg-5 ">
                                    <div class="input-group">
                                        @Html.EditorFor(x => x.FD_FEC_ORDE, new { @class = "form-control  form-control-sm _valid-date", @id = "TXT_FD_FEC_ORDE", data_val_date = "Ingrese una fecha válida" })
                                        <span class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(x => x.FD_FEC_ORDE, null, new { @class = "label-alert" })
                                </div>

                            </div>


                            <div class="form-group row">

                                @Html.Label("", String.Format("Tipo de cliente"), new { @class = "col-lg-2 pr-0 col-form-label-sm " })
                                <div class="col-lg-4 ">
                                    @Html.TextBoxFor(x => @x.FS_TIP_CLIE, new { @class = "form-control form-control-sm", @id = "TXT_FS_TIP_CLIE" })
                                </div>
                                @Html.ValidationMessageFor(x => x.FS_TIP_CLIE, null, new { @class = "label-alert" })


                                @Html.Label("", String.Format("DNI/RUC"), new { @class = "col-lg-2 pr-0 col-form-label-sm " })
                                <div class="col-lg-4 ">
                                    @Html.TextBoxFor(x => @x.FS_NUM_RUCS, new { @class = "form-control form-control-sm", @id = "TXT_FS_COD_CLIE" })
                                </div>
                                @Html.ValidationMessageFor(x => x.FS_NUM_RUCS, null, new { @class = "label-alert" })

                            </div>
                            <div class="form-group row">
                                @Html.Label("", String.Format("Cód. cliente"), new { @class = "col-lg-2 pr-0 col-form-label-sm " })
                                <div class="col-lg-3 ">
                                    @Html.TextBoxFor(x => @x.FS_COD_CLIE, new { @class = "form-control form-control-sm", @id = "TXT_FS_COD_CLIE" })
                                </div>
                                @Html.ValidationMessageFor(x => x.FS_COD_CLIE, null, new { @class = "label-alert" })


                                @Html.Label("", String.Format("Nom. cliente"), new { @class = "col-lg-2  pr-0 col-form-label-sm" })
                                <div class=" col-lg-5 pl-lg-0 ">
                                    @Html.TextBoxFor(x => @x.FS_NOM_CLIE, new { @class = "form-control form-control-sm", @id = "TXT_FS_COD_CLIE" })
                                </div>
                                @Html.ValidationMessageFor(x => @x.FS_NOM_CLIE, null, new { @class = "label-alert" })


                            </div>
                            <div class="form-group row">

                                @Html.Label("", String.Format("Total"), new { @class = "col-lg-2 pr-0 col-form-label-sm" })
                                <div class="col-lg-3">
                                    @Html.TextBox("FN_IMP_TOTA", (string)ViewBag.FN_IMP_TOTA, new { @class = "form-control form-control-sm", @id = "TXT_FN_IMP_TOTA", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-secondary btn-lg btn-transparent" id="submitButton" type="button"
                                        title="Procesar Orden (shift + 2)">
                                    <span>
                                        <span class="fa fa-check fa-lg">
                                        </span>
                                    </span>
                                </button>
                            </div>
                        }



                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-edit"></i> Detalle

                    </div>
                    <div class="card-body pt-0 pl-3" style="min-height:100px">
                        <div class="row">
                            <div class="col-sm-12 p-1">
                                <table id="TB_DETA_ORDE" class="table table-striped table-bordered table-hover table-condensed ctable-with-buttons" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sec.
                                            </th>
                                            <th>
                                                <div style="width:180px"></div>Artículo
                                            </th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-7">
                @{ Html.RenderAction("Lista_productos_por_clase"); }
            </div>
        </div>
    </div>
    <div class="_load" data-load="Orden"></div>
    <div id="_orden_data_add" data-request-url="@Url.Action("registrar_orden", "Orden",new { FN_IDE_ORDE = ViewBag.numero_orden,FI_COD_EMPR = 1 })"></div>
    <div id="_detalle_data_loader" data-request-url="@Url.Action("listar_detalle_orden", "Orden",new { FN_IDE_ORDE = ViewBag.numero_orden,FI_COD_EMPR = 1 })"></div>
    <div id="_detalle_data_add" data-request-url="@Url.Action("agregar_detalle_orden", "Orden",new { FN_IDE_ORDE = ViewBag.numero_orden })"></div>
    <script src="~/Content/ui-search/search.min.js"></script>

</section>


